.contact-icon.fa-linkedin-in{color:#0e72a3}.instagram{color:transparent;background:radial-gradient(circle at 30% 107%,#fdf497 0%,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285AEB 90%);-webkit-background-clip:text;background-clip:text}
